<% title("Home Page") %>
<h1><i class="fa fa-home"></i> Vacation Caster finds sudden vacancies, getting you the best trip at a moments notics</h1>

<p>
	<b>How it works</b>
	<ol>
		<li>Install bookmarklet</li>
		<li>Find on airbnb you want to visit</li>
		<li>Click the bookmarklet</li>
		<li>Alerts when something opens up</li>
	</ol>
</p>