<% title("Find last minute canclations") %>
<h1><i class="fa fa-home"></i> Vacation Caster</h1>
 <h3>Find cancled airbnb bookings.<br> Get the best price, at a moments notice.</h3>
 </h1>

<p>
	<b>How it works</b>
	<ol>
		<li>Drag ↓bookmarklet to bookmarks bar↑</li>
		<ul><br><li><a onclick="alert('Drag me to your bookmarks bar'); return false;" class="btn btn-primary" href='javascript:(function()%7Bd%3Ddocument%3Bs%3Dd.createElement("script")%3Bs.src%3D"//<%= bookmarklet_url %>/bookmarklet.js"%3Bd.children%5B0%5D.appendChild(s)%3B%7D)()%3B'>✈ Watch for vacancies</a></li><br></ul>
		<li>Find where you want to visit on Airbnb.</li>
		<li>Click the bookmarklet</li>
		<li>Alerts when something opens up</li>
	</ol>
</p>

